@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body {
  background-color: #1a202c; /* Darkish color */
  color: white; /* Optional: Set text color to white for better contrast */
  padding: 16px; /* Optional: Add padding */
}
